/* Reset default styles */
@import url('https://fonts.googleapis.com/css2?family=PT+Serif&family=Poppins:wght@300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body{
    font-family: 'Poppins', sans-serif;
    line-height: 1.6;;
  }

  
  /* Add styles for sections */
  

  /*---------NAV BAR--------*/

nav{
  
  width: 100%;
  background: #e6e6e6;
  padding: 0.2rem 0;
  position: fixed;
  top: 0;
  z-index: 10;
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.1);
}

nav .container{
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

label{
  padding: 10px;
  font-weight: 600;
  
}

label a{
  
  color: black;
  text-decoration: none;
}
  
  /* Hero section */
  .hero-content{
    position: relative;
    top: 100px;
    
    
    
    color: #fff;
    text-align: center;
  }

  #hero{
    min-height: 100vh;
    background-image: url('daimond svg background.svg');
    background-size: cover;
    background-position: center;
    box-shadow: inset 0 0 0 2000px rgba(10, 32, 26, 0.688);
  }
  #hero p, #hero h1{
    color: #f1fbff;
  }
  
  
  /* About section */
  #about {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 100vh;
    padding: 50px;
  }
  
  /* Projects section */
  #products {
    text-align: center;
    justify-content: space-evenly;
    min-height: 100vh;
  }
  
  /* Footer section */
  #footer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    
    text-align: center;
    padding: 30px;
  }
  .contact-info, .contact-form{
    position: relative;
    top: 150px;
  }

  footer h3, footer p{
    color: aliceblue;
    padding-bottom: 10px;
  }
  

  
  
  /* Add common styles */
  h2{
    font-size: 46px;
    
}
h3{
  font-size: 30px;
  
}
  h1, h2, h3 {
    margin-bottom: 20px;
    color: rgb(5, 72, 72);
  }
  
  p {
    margin-top: -15px;
    font-size: 18px;
    color: rgb(5, 72, 72);
    margin-bottom: 10px;
  }
  button{
    display: inline-block;
    border: solid;
    border-color: aliceblue;
    padding: 10px 20px;
    margin: 15px;
    background: rgb(11,129,130);
background: linear-gradient(65deg, rgb(11, 118, 119) 0%, rgba(13,166,153,1) 57%, rgb(9, 187, 161) 100%);
    color: #fff;
    text-decoration: none;
    border-radius: 6px;
    cursor: pointer;
  }

  button:hover{
    animation: color 5s 1 ease-in-out;
  }
  .btn {
    display: inline-block;
    border: solid;
    border-color: aliceblue;
    padding: 10px 20px;
    margin: 25px;
    background: rgb(11,129,130);
background: linear-gradient(65deg, rgb(5, 109, 111) 0%, rgb(10, 134, 124) 57%, rgb(4, 165, 141) 100%);
    color: #fff;
    text-decoration: none;
    border-radius: 6px;
    cursor: pointer;
  }
  .btn:hover{
   
    animation: color 5s 1 ease-in-out;
  }

  .about-content{
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    flex-direction: row;
    min-width: 80%;
    
  }
  .about-text{
    align-items: center;
  }
  
  .about-image img {
    
    max-width: 600px;
  }

  .products-slider {
    width: 50%;
    min-height: 90vh;
    overflow: hidden;
    position: relative;
    justify-content: center;
  }
  
  .products-slider img {
    image-resolution: full;
    width: 100%;
  height: fit-content;
  position: absolute;
  padding-left: 100px;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  }

  .products-slider img.active {
    opacity: 1;
  }
  .slider-navigation {
    margin-top: 10px;
    text-align: center;
  }
  .slider-navigation span {
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: #ccc;
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
  }
  .slider-navigation span.active {
    background-color: #333;
  }
  

/*hero section BAL*/
#leke{
    /*color: rgb(10, 122, 101);*/
    font-size: 46px;
}

.bal {
  display: flex;
  justify-content: center;
  padding: 25px;
}
.bal h2 {
  font-size: 90px;
  text-align: center;
  transform: rotateZ(270deg);
  color: rgb(2, 37, 39);
}
.one, .two, .three {
  width: 150px;
  aspect-ratio: 1;
  display: inline-block;
  margin-top: 20px;
}
.one {
  background: rgb(11,129,130);
  background: linear-gradient(65deg, rgba(11,129,130,1) 0%, rgba(13,166,153,1) 57%, rgba(14,201,174,1) 100%);
  transform: skew(3deg,3deg);
  transform: rotateZ(68deg);
  transition: all 3s ease;
  animation: move 5s 1 ease-in-out;
}
.two {
  background: rgb(226,150,18);
  background: linear-gradient(243deg, rgba(226,150,18,1) 0%, rgba(226,177,18,1) 100%);
  transform: scaleX(2);
  transform: rotateZ(68deg);
  transition: all 3s ease-in-out;
  animation: move 5s 1;
}
.three {
  background: rgb(182,7,63);
  background: linear-gradient(321deg, rgba(182,7,63,1) 0%, rgba(216,21,112,1) 100%);
  transform: skew(-3deg,-3deg);
  transform: rotateZ(68deg);
  transition: all 3s;
  animation: move 5s 1 ease-in-out;
}
.one:hover {
  transform: translate(20px, 20px);
}
.two:hover {
  transform: translate(20px, 20px);
}
.three:hover {
  transform: translate(20px, 20px);
}

/* Media query for smaller screens */
@media (max-width: 768px) {
  .bal {
      flex-direction: column;
      align-items: center;
      padding: 10px;
  }
  .bal h2 {
      font-size: 60px;
      transform: rotateZ(0deg); /* Adjusted for better readability on smaller screens */
  }
  .one, .two, .three {
      width: 100px;
      margin-top: 10px;
  }
  .one, .two, .three {
      transform: rotateZ(0deg); /* Adjusted for better readability on smaller screens */
  }
}

/* Media query for very small screens */
@media (max-width: 480px) {
  .bal {
      padding: 5px;
  }
  .bal h2 {
      font-size: 40px;
  }
  .one, .two, .three {
      width: 80px;
      margin-top: 5px;
  }
}



@keyframes move {
    0%{
        opacity: 0;
        transform: translateX(10px);
    }
    25%{
        opacity: 0.25;
        transform: translateX(20px);
    }
    50%{
        opacity: 0.5;
        transform: translateX(300px);
    }
    75%{
        opacity: 0.75;
        transform: translateX(-200px);
    }
    100%{
        opacity: 1;
        transform: translateX(10px);
        transform: rotateZ(68deg);
    }
}
@keyframes color {
  0%   {background:rgb(10, 105, 94); }
  25%  {background:rgb(215, 159, 15); }
  50%  {background:rgb(11, 124, 181); }
  75%  {background:rgb(190, 11, 106); }
  100% {background:rgb(10, 105, 94); }
}
svg {
  position: absolute;
  margin: 0;
  
  width: 100%;
  z-index: -1;
  box-sizing: border-box;
  display: block;
  
  /*background-image: linear-gradient(to bottom, rgba(16, 150, 105, 0.86), #0e665a);*/
}


  /* Add responsive styles */
  @media (max-width: 768px) {
    #about {
      flex-direction: column;
    }
    .about-image {
      margin-top: 20px;
    }
  }
/*
#heart1{
    background-color: pink;
    transform: rotateZ(30deg);
    border-radius: 60px 120px 0px 120px;
    margin-top: 50px;  
}
#heart2{
    background-color: pink;
    transform: rotateZ(60deg);
    border-radius: 60px 120px 0px 120px;
    margin: 50px 0 0px -95px;
    position: absolute;
}
.heart:hover{
    transform: scale(1.1);
}
*/
